<!DOCTYPE html>
<html>
<head>
    <title>Generate Image</title>
</head>
<body>
    <form method="POST" action="/">
    <label for="firstName">שם פרטי:</label>
    <input type="text" id="firstName" name="firstName" required><br><br>
    <label for="lastName">שם משפחה:</label>
    <input type="text" id="lastName" name="lastName" required><br><br>
    <label for="dateOfBirth">תאריך לידה:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" required><br><br>
    <input type="submit" value="שלח">
</form>

